__pycache__/
*.pyc
.env
*.egg-info/
dbt/target/
dbt/dbt_packages/
logs/
frontend/node_modules/
frontend/dist/
frontend/.vite/
dbt/weather/.user.yml
dbt/weather/logs/
dbt/weather/target/
dbt/weather/dbt_packages/